* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: black;
  font-family: "Raleway", sans-serif; }

header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100; }

.navbar-collapse {
  justify-content: end; }

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.1rem;
  margin: 0px 10px;
  color: white; }

footer {
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: white;
  padding: 30px;
  background: linear-gradient(0deg, black 0%, #424949 100%); }
  footer i {
    font-size: 30px;
    margin: 0px 20px; }
  footer i:hover {
    color: grey; }

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; }
  .portada__imagen {
    width: 50%; }
  .biografia__img {
    width: 100%; }
  header ul li {
    margin: 15px; }
  .redessociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  footer span {
    margin: 0px 15px; }
  .pic__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sets__container {
    flex-direction: column; }
  .biografia__container {
    flex-direction: column; }
  .sets__live img {
    width: 70%; }
  /*musica*/
  .musica {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .setMusica:hover {
    opacity: 0.9; }
  .setMusica img {
    width: 600px; }
  /*eventos*/
  .fechas__eventos {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(6, 1fr); }
  /*galeria*/
  .fotos__img img {
    width: 80%; }
  .noticias {
    display: flex;
    justify-content: center; }
  .noticias__container {
    flex-direction: column; }
  .contact__section {
    flex-direction: column; } }

@media only screen and (max-width: 576px) {
  header ul li {
    margin: 7px;
    font-size: 1rem; }
  /*index*/
  .navbar-brand img {
    width: 70%; }
  .portada__imagen {
    width: 50%;
    height: 400px;
    margin: 0px; }
  .portada__legend {
    width: 50%; }
  .portada__frente {
    margin: 0%; }
  .sets__container img {
    width: 500px; }
  /*musica*/
  .musica {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .setMusica img {
    width: 500px; }
  /*eventos*/
  .fechas__eventos {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(12, 1fr); }
  /*galeria*/
  .galeria-img-container {
    display: flex;
    justify-content: center; }
  /*contacto*/
  .noticias__container {
    flex-direction: column; }
  .noticias a img {
    width: 95%; }
  .contact__section {
    flex-direction: column; }
  .formulario__container {
    width: 85% !important; } }

@media only screen and (max-width: 420px) {
  .navbar-brand {
    width: 70%; }
  .navbar-brand img {
    width: 70%; }
  .sets__container img {
    width: 350px; }
  .setMusica img {
    width: 350px; }
  .portada__frente {
    margin: 0px; }
  .portada__imagen {
    height: 260px; }
  .fechas__eventos {
    width: 350px; } }

main {
  color: white; }
  main h2 {
    margin-bottom: 20px; }

.portada__logo {
  margin: 15px; }

.portada__frente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px; }

.portada__imagen {
  margin: 0px; }

.portada__legend {
  padding: 50px; }

.pic__container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  .pic__container img {
    width: 270px;
    margin: 27px;
    padding: 30px;
    border: 1px solid white;
    background-color: white; }

div .setvuelonocturno__img {
  display: flex; }

a {
  color: white; }

main h1 {
  margin-bottom: 20px;
  text-decoration: none; }

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 40px; }

p {
  line-height: 30px;
  font-size: 40px;
  text-align: center; }

h2 {
  color: white;
  font-size: 40px;
  text-align: center; }

section h2 {
  padding: 50px; }

.sets__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  padding: 20px 5px; }

.set {
  display: flex;
  align-items: center;
  margin: 10px; }
  .set a {
    color: black;
    background-color: white;
    border-radius: 1px;
    margin: 0px 10px;
    padding: 10px;
    margin: 5px; }

.biografia__container {
  display: flex;
  align-items: center;
  margin: 26px; }

.biografia__img {
  margin: 25px; }

.biografia__parrafo {
  color: whitesmoke;
  background-color: black;
  font-size: 20px;
  text-align: justify;
  padding: 10px 30px;
  line-height: 1.5; }

.musica {
  display: flex;
  flex-direction: column;
  align-items: center; }

.setMusica {
  margin: 10px 0px; }

.setMusica:hover {
  opacity: 0.7; }

.sets__titulo {
  margin-top: 150px; }

.set {
  display: flex;
  align-items: center; }

.slide-section {
  width: 100%;
  height: 75vh; }

.slide-1 {
  background: url("../recursos/carousel-1.png") no-repeat center;
  background-size: cover; }

.slide-2 {
  background: url("../recursos/carousel-2.png") no-repeat center;
  background-size: cover; }

.slide-3 {
  background: url("../recursos/carousel-3.png") no-repeat center;
  background-size: cover; }

.galeria-container {
  margin-top: 20px; }

.galeria-container img {
  margin: 10px 0px; }

.fechas__eventos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 40px;
  justify-items: center;
  padding: 20px;
  margin: 10px; }

.noticias__principal, .noticias__container {
  display: flex;
  justify-content: center; }

.noticias__container {
  margin: 20px 0px;
  padding: 20px 5px; }

.noticias a img {
  margin: 10px; }

.contact__section {
  display: flex;
  justify-content: center;
  align-items: center; }

.formulario__container {
  color: white;
  font-weight: bold;
  padding: 50px 30px;
  margin: 20px;
  background-color: #929292;
  width: 40%;
  border-radius: 3px; }

section {
  color: white; }
  section h1 {
    padding: 30px 5px; }
  section p {
    margin: 0px;
    padding: 40px 5px; }
