.biografia{
    &__container {
        display: flex;
        align-items: center;
        margin: 26px;
    }
    &__img {
      margin:25px;
    }
    &__parrafo {
    color: whitesmoke;
    background-color: black;
    font-size: 20px;
    text-align: justify;
    padding: 10px 30px;
    line-height: 1.5;
  }
  }