@media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .portada__imagen {
      width:50% ;
    }
  
    .biografia__img{
      width: 100%;
    }
  
    header ul li {
      margin: 15px;
    }
  
    .redessociales {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    footer span {
      margin: 0px 15px;
    }
  
    .pic__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .sets__container {
      flex-direction: column;
    }
    .biografia__container {
      flex-direction: column;
    }
    .sets__live img {
      width: 70%;
    }
  
    /*musica*/
    .musica {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .setMusica:hover {
      opacity: 0.9;
    }
    .setMusica img {
      width: 600px;
    }
    /*eventos*/
  
    .fechas__eventos {
      grid-template-columns: repeat(2, 1fr) !important ;
      grid-template-rows: repeat(6, 1fr);
    }
    /*galeria*/
  
    .fotos__img img {
      width: 80%;
    }
    .noticias {
      display:flex;
      justify-content: center;
    }
    .noticias__container {
      flex-direction: column;
    }
    .contact__section {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 576px) {
    header ul li {
      margin: 7px;
      font-size: 1rem;
    }
  
    /*index*/
  
    .navbar-brand img{
      width: 70%;
    }
    
    .portada__imagen {
      width: 50%;
      height: 400px;
      margin: 0px;
    }
    .portada__legend {
      width:50%; 
    }

    .portada__frente{
      margin:0%;
    }
    
    .sets__container img {
      width: 500px;
    }
  
    /*musica*/
    .musica {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .setMusica img {
      width: 500px;
    }
  
    /*eventos*/
  
    .fechas__eventos {
      grid-template-columns: repeat(1, 1fr) !important ;
      grid-template-rows: repeat(12, 1fr);
    
    }
    
    /*galeria*/
    
    .galeria-img-container {
      display: flex;
      justify-content: center;
    }

    /*contacto*/


    .noticias__container {
      flex-direction: column;
    }
    .noticias a img {
      width: 95%;
    }
    .contact__section {
      flex-direction: column;
    }
    .formulario__container{
      width: 85% !important;
    }
  }
