@import 'variables';
@import 'mqueries';

// colores
$dark:rgb(0, 0, 0);
$backgroundset:hsl(0, 0%, 100%);


* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color:$dark;
    font-family: $font-principal;
  }
  
  $estilosHeader:(
    background-c:black,
    position:sticky,
    top:0,
    z-i:100,
  );

  header {
    background-color: map-get($estilosHeader, background-c);
    position: map-get($estilosHeader, position);
    top: map-get($estilosHeader, top);
    z-index: map-get($estilosHeader, z-i);
  }
  
  .navbar {
    &-collapse {
      justify-content: end;
    }
    &-dark .navbar-nav .nav-link {
      font-size: 1.1rem;
    margin: 0px 10px;
    color:white;
    }
  }
  // .navbar-collapse {
  //   justify-content: end;
  // }
  
  // .navbar-dark .navbar-nav .nav-link {
  //   font-size: 1.1rem;
  //   margin: 0px 10px;
  //   color:white;
  // }
  
  footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: white;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(66,73,73,1) 100%);
    i {
      font-size: 30px;
      margin: 0px 20px;
    }
    i:hover {
      color: grey;
    }
  }
  // footer i {
  //   font-size: 30px;
  //   margin: 0px 20px;
  // }
  // footer i:hover {
  //   color: grey;
  // }
  
  /*index*/
  
  main {
    color: white;
    h2 {
      margin-bottom: 20px;
    }
  }
  
  // main h2 {
  //   margin-bottom: 20px;
  // }

  .portada{
    &__logo {
      margin: 15px;
    }
    &__frente{
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    }
    &__imagen{
      margin: 0px;
    }
    &__legend {
      padding: 50px;
    }
  }
  // .portada__logo {
  //   margin: 15px;
  // }
  // .portada__frente {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin: 100px 0px;
  // }
  // .portada__imagen {
  //   margin: 0px;
  // }
  // .portada_legend {
  //   padding: 50px;
  // }
  
  .pic__container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    img {
      width: 270px;
      margin: 27px;
      padding: 30px;
      border: 1px solid white;
      background-color: white;
    }
  }
  
   
  
  div .setvuelonocturno__img {
    display: flex;
  }
  
  a {
    color: white;
  }
  
  main h1 {
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
  }
  
  p {
    line-height: 30px;
    font-size: 40px;
    text-align: center;
  }
  
  h2 {
    color: white;
    font-size: 40px;
    text-align: center;
  }
  
  section h2 {
    padding: 50px;
  }
  
  .sets__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    padding: 20px 5px;
  }
  
  .set {
    display: flex;
    align-items: center;
    margin:10px;
     a {
      color: black;
      background-color: $backgroundset;
      border-radius: 1px;
      margin: 0px 10px;
      padding: 10px;
      margin: 5px;
    }

  }
  
  
  
  /*biografia*/

  .biografia{
    &__container {
        display: flex;
        align-items: center;
        margin: 26px;
    }
    &__img {
      margin:25px;
    }
    &__parrafo {
      color: whitesmoke;
    background-color: black;
    font-size: 20px;
    text-align: justify;
    padding: 10px 30px;
    line-height: 1.5;
  }
  }
  
  // .biografia__container {
  //   display: flex;
  //   align-items: center;
  //   margin: 26px;
  // }
  // .biografia__img {
  //   margin:25px;
  // }
  
  // .biografia__parrafo {
  //   color: whitesmoke;
  //   background-color: black;
  //   font-size: 20px;
  //   text-align: justify;
  //   padding: 10px 30px;
  //   line-height: 1.5;
  // }
  
  /*musica*/
  .musica {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .setMusica{
    margin: 10px 0px;
  }
  .setMusica:hover {
    opacity:0.7 ;
  }

  .sets__titulo {
    margin-top: 150px;
  }
  .set {
    display: flex;
    align-items: center;
  }
  
  /*galeria*/
  @mixin slide($alto, $ancho) {
    width: $alto;
    height: $ancho;
  }

  .slide{
    &-section {
      @include slide(100%, 75vh)
    }
    &-1 {
      background: url("../recursos/carousel-1.png") no-repeat center;
    background-size: cover;
    }
    &-2 {
      background: url("../recursos/carousel-2.png") no-repeat center;
    background-size: cover;
    }
    &-3 {
      background: url("../recursos/carousel-3.png") no-repeat center;
    background-size: cover;
    }
  }

  // .slide-section {
  //   @include slide(100%, 75vh)
  // }
  // .slide-1 {
  //   background: url("../recursos/carousel-1.png") no-repeat center;
  //   background-size: cover;
  // }
  // .slide-2 {
  //   background: url("../recursos/carousel-2.png") no-repeat center;
  //   background-size: cover;
  // }
  // .slide-3 {
  //   background: url("../recursos/carousel-3.png") no-repeat center;
  //   background-size: cover;
  // }
  
  .galeria-container {
    margin-top: 20px;
  }
  .galeria-container img {
    margin: 10px 0px;
  }
  /*eventos*/
  .fechas__eventos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 40px;
    justify-items: center;
    padding: 20px;
    margin: 10px;
  }
  
  /*contacto*/
  .noticias {
    &__principal {
      display: flex;
      justify-content: center;
    }
    &__container{
      @extend .noticias__principal;
    margin: 20px 0px;
    padding: 20px 5px;
    }

  }
  // .noticias__principal {
  //   display: flex;
  //   justify-content: center;
  // }
  
  // .noticias__container {
  //   @extend .noticias__principal;
  //   margin: 20px 0px;
  //   padding: 20px 5px;
  // }
  .noticias a img {
    margin: 10px;
  }
  .contact__section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario__container {
    color: white;
    font-weight: bold;
    padding: 50px 30px;
    margin: 20px;
    background-color: #929292;
    width: 40%;
    border-radius: 3px;
  
  }
  
  section {
    color: white;
    h1 {
      padding: 30px 5px;
    }
    p {
      margin: 0px;
    padding: 40px 5px;
    }
  }
  // section h1 {
  //   padding: 30px 5px;
  // }
  
  // section p {
  //   margin: 0px;
  //   padding: 40px 5px;
  // }
  
  
  
  