@import 'main';
@import 'mqueries';
@import 'index';
@import 'biografia';
@import 'musica';
@import 'galeria';
@import 'eventos';
@import 'contacto';


// colores

$dark:rgb(0, 0, 0);

$backgroundset:hsl(0, 0%, 100%);

$estilosHeader:(
    background-c:black,
    position:sticky,
    top:0,
    z-i:100,
  );

  $font-principal: "Raleway", sans-serif;

  
  
  
  
  
  
  